<p><%= link_to 'Start New Game', new_play_path %></p>

<table>
<thead>
  <th>Game</th>
  <th>User</th>
  <th>Opponent</th>
  <th>Started</th>
  <th>Status</th>
  <!-- <th>Result</th> -->
  <th>View Board</th>
</thead>
<% @plays.each do |play| %>
  <tr>
    <td><%= play.game_detail.name %></td>
    <td><%= play.user.username %></td>
    <td><%= play.opponent.username if play.opponent %></td>
    <td><%= time_ago_in_words(play.created_at) %> ago</td>
    <% if play.game_over? %>
      <td>Finished</td>
      <td><%= link_to 'view', play_path(play) %></td>
    <% else %>
      <td>In progress</td>
      <td><%= link_to 'continue', play_path(play) %></td>
    <% end %>
    <!-- <td>(display result)</td> -->
<% end %>
</table>