<div class="player go-left">
  <p><%= @play.user.username %></p>
  <p>( X )</p>
</div>
<div class="player go-right">
  <% if @play.opponent %>
    <p><%= @play.opponent.username %></p>
  <% else %>
    <p>Player 2</p>
  <% end %>
  <p>( O )</p>
</div>


<%= render 'board' %>


<% if @play.current_player == current_user %>
  <p class="display-turn"><%= "#{@play.current_player.username}, it's your turn!" %></p>
<% else %>
  <p class="display-turn"><%= "Waiting for #{@play.current_player.username} to play..." %></p>
<% end %>