<div class="game-heading">
  <h2><%= @game.name %></h2>
  <p><%= link_to "Start new '#{@game.name}' game", new_play_path if @game.availability == "available" %></p>
  <p><%= "Coming soon!" if @game.availability != "available" %></p>
</div>
<%= image_tag @game.image %>
<h3>Description:</h3>
<p><%= @game.description %></p>

<% if @game.availability == "available" %>
  <%= link_to "Start new '#{@game.name}' game", new_play_path %>
<% end %>

