<%= link_to "Start new '#{@game.name}' game", new_play_path(@game) %>
<h2><%= @game.name %></h2>
<%= image_tag @game.image %>
<h3>Description:</h3>
<p><%= @game.description %></p>
<%= link_to "Start new '#{@game.name}' game", new_play_path(@game) %>

